h1 {
    text-align: center;
    text-transform: capitalize;
    color: black;
    font-weight: bold;
    font-size: 5em;
}

.input {
    height: 50px;
    width: 200px;
}

table tr td {
    border: 3px solid black;
}